<div class="page-content">
  <div class="title">
    <span>About Us</span>
  </div>
  <div class="content">
    <div class="content-text">
      <span>It was in October 2020 that Fábio and Pauli - a freshly arrived dance enthusiast and a local cuban salsa
        promoter - decided to join forces to develop the social dance scene in Rauma, by introducing a regular 
        event for new people to join salsa and for existing dancers to continue practicing.</span>
      <br>
      <span>Réda - an experienced cuban salsa dancer - joined the team as an invited teacher in March 2021, 
        bringing knowledge and experience to the team.
      </span>
      <br>
      <br>
      <span>Our goal is to share our passion for afro-latin dances and music, by organising events and teaching 
        low-cost dance classes.</span>
    </div>
  </div>
  <div class="title">
    <span>Team</span>
  </div>
  <div class="content">
    <div class="team">
      <div class="teacher-odd">
        <img class="teacher-pic" src="https://i.ibb.co/cNGjJ8V/fabio1-216x300.jpg">
        <div class="teacher-bio">
          <span class="teacher-name">Fábio Rodrigues</span>
          <span class="teacher-styles"><b>Styles:</b> Kizomba, Semba, Cuban Salsa, Bachata</span>
          <div class="teacher-description" (scroll)="onScroll($event)">
            <span>Original from Portugal, Fábio joined social dancing in 2016, when he 
              started to learn Cuban Salsa with Ramon Yudimir Noa Caraballo in Zagreb, Croatia. Since then, he has been 
              learning with many influent teachers in festivals around Europe. Main inspiration comes from Osbanis & Anneta - 
              Deakocan - and from Oliwia Ryslka - very talented teacher based in Warsaw.</span>
            <br>
            <br>
            <span>Though he has been dancing Kizomba since 2010, he didn't attend classes until 2017, when he decided to 
              further develop his skills. He has been learning from the biggest names in the Kizomba scene, and in 2019 
              completed his first Kizomba and Semba Teacher Training, organised by The Fantastic 4 - Paulo & Lanna and 
              Miguel & Susana.</span>
            <br>
            <span>He tought Kizomba and Semba in Poland and in Germany, before coming to Finland</span>
            <br>
            <br>
            <span>Bachata came along while in Zagreb, in 2017, and he has learned Bachata from some of the top 
              teachers in the world. Though he trained Bachata Sensual as well, his real passion is for Dominican Bachata.
            </span>
          </div>
        </div>
      </div>
      <div class="teacher-even">
        <img class="teacher-pic" src="https://i.ibb.co/cNGjJ8V/fabio1-216x300.jpg">
        <div class="teacher-bio">
          <span class="teacher-name">Pauli Laaksonen</span>
          <span class="teacher-styles"><b>Styles:</b> Cuban Salsa</span>
          <div class="teacher-description" (scroll)="onScroll($event)">
            <span>Original from Portugal, Fábio joined social dancing in 2016, when he 
              started to learn Cuban Salsa with Ramon Yudimir Noa Caraballo in Zagreb, Croatia. Since then, he has been 
              learning with many influent teachers in festivals around Europe. Main inspiration comes from Osbanis & Anneta - 
              Deakocan - and from Oliwia Ryslka - very talented teacher based in Warsaw.</span>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>