.main-container {
  position: relative;
  height: 100%;
  padding: 0;
}
.main-row {
	display: flex;
	height: 100%;
  width: 100%;
}

.sidenav {
	background-color: aliceblue;
}
.main-content {
	background-color: white;
}
