<div class="page-content">
  <div class="title">
    <span>Other Dance Styles</span>
  </div>
  <div class="content">
    <span class="content-header">Other dance styles we practice are:</span>
    <div class="dance-style-block">
      <span class="dance-style-name">Merengue - Dominican Republic
        <img class="flag" src="assets/dominican-republic-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/LRIpkHuCagw"
        adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
    <div class="dance-style-block">
      <span class="dance-style-name">Son - Cuba
        <img class="flag" src="assets/cuba-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/ooxY2wIBhq4"
      adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
    <div class="dance-style-block">
      <span class="dance-style-name">Cuban Rumba - Cuba
        <img class="flag" src="assets/cuba-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/JaNfdh0iWCg"
      adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
    <div class="dance-style-block">
      <span class="dance-style-name">Afro-Cuban Orishas - Cuba
        <img class="flag" src="assets/cuba-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/-M4f5X0zdCk?start=80&end=314"
      adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
    <div class="dance-style-block">
      <span class="dance-style-name">AfroKuduro - Angola
        <img class="flag" src="assets/angola-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/C1TgsOLaEXg"
      adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
    <div class="dance-style-block">
      <span class="dance-style-name">Funana - Cape Verde
        <img class="flag" src="assets/cape-verde-flag.svg">
      </span>
      <adk-video class="dance-style-video" videoSource="https://www.youtube.com/embed/4ZT57ujIHLA"
      adkStyle="margin-top: 1rem; margin-bottom: 1.5rem"></adk-video>
    </div>
  </div>
</div>