<div class="d-md-flex flex-column">
  <form role="form" [formGroup]="activityForm">
    <div class="form-group">
      <label for="title" class="form-control-label">
        Title
      </label>
      <input id="title"
        type="text"
        class="form-control"
        formControlName="title">              
    </div>
    <div class="form-group">
      <label for="description" class="form-control-label">
        Description
      </label>
      <input id="description"
        type="text"
        class="form-control"
        formControlName="description">              
    </div>
    <div class="form-group">
      <label for="location" class="form-control-label">
        Location
      </label>
      <input id="location"
        type="text"
        class="form-control"
        formControlName="location">              
    </div>
    <div class="form-group">
      <label for="category"
        class="form-control-label">
        Category
      </label>
      <ng-select
        id="category"
        [formControlName]="'category'"
        [items]="categories"
        [searchable]="false"
        [clearable]="false"
        [placeholder]="'Choose a Category'">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="start" class="form-control-label">
        Start
      </label>
      <input id="start"
        type="datetime-local"
        placeholder="Start Date"
        class="form-control"
        formControlName="start">      
    </div>
    <div class="form-group">
      <label for="end" class="form-control-label">
        End
      </label>
      <input id="end"
        type="datetime-local"
        class="form-control"
        formControlName="end">            
    </div>
  </form>
</div>