<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Amor d'Kizomba</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto my-2 my-lg-0">
			<li class="nav-item active">
			<a class="nav-link" routerLink="/" routerLinkActive="active">Amor d'Kizomba</a>
			</li>
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link" routerLink="/dance" routerLinkActive="active">Dance</a>
				<a class="dropdown-toggle" id="danceDropdown" ngbDropdownToggle></a>
				<!--<a class="nav-link dropdown-toggle" id="danceDropdown" routerLink="/dance" routerLinkActive="active" ngbDropdownToggle>Dance</a>-->
				<div class="dropdown-menu" aria-labelledby="danceDropdown" ngbDropdownMenu>
					<a class="dropdown-item" routerLink="/dance/kizomba" routerLinkActive="active" ngbDropdownItem>Kizomba</a>
					<a class="dropdown-item" routerLink="/dance/kuduro" routerLinkActive="active" ngbDropdownItem>Kuduro</a>
					<a class="dropdown-item" routerLink="/dance/semba" routerLinkActive="active" ngbDropdownItem>Semba</a>
				</div>
			</li>
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link" routerLink="/health" routerLinkActive="active">Health</a>
				<a class="dropdown-toggle" id="danceDropdown" ngbDropdownToggle></a>
				<!--<a class="nav-link dropdown-toggle" id="healthDropdown" routerLink="/health" routerLinkActive="active"  ngbDropdownToggle>Health</a>-->
				<div class="dropdown-menu" aria-labelledby="healthDropdown" ngbDropdownMenu>
					<a class="dropdown-item" routerLink="/health/body" routerLinkActive="active" ngbDropdownItem>Body</a>
					<a class="dropdown-item" routerLink="/health/mind" routerLinkActive="active" ngbDropdownItem>Mind</a>
				</div>
			</li>
		</ul>
  </div>
</nav>
