.adk-navbar {
  background-color: rgb(151, 205, 250);
  min-height: 70px;
}

.navbar-brand {
  color: rgb(8, 8, 70);
  font-size: large;
  font-weight: bold;
}



.navbar-nav .nav-link {
  color: rgb(8, 8, 70);
  font-size: medium;
  font-weight: bold;
}

.navbar-nav .dropdown:hover .nav-link, .navbar-nav .nav-link:hover {
  color: white;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(146, 196, 236);
  border-radius: 0.25rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  min-width: 100%;
  background-color: white;
}

.dropdown-content .dropdown-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.dropdown-content .dropdown-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.dropdown-content .dropdown-item {
  color: rgb(8, 8, 70);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.25rem;
  font-weight: 500;
}

.dropdown-content .dropdown-item:hover {
  background-color: rgb(10, 90, 240);
  color: white;
}
