
<div class="page-content">
  <div class="title">
    <span>Class Schedule</span>
  </div>
  <div class="content">
    <div class="class-schedule">
      <div class="adk-table-container">
        <div class="adk-table-top-header">Monday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>20:00-21:30</span>
          </div>
          <div class="adk-table-item">
            <span>Bachata</span>
          </div>
        </div>
      </div>
      <div class="adk-table-container">
        <div class="adk-table-top-header">Tuesday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>20:00-21:30</span>
          </div>
          <div class="adk-table-item">
            <span>Kizomba</span>
          </div>
        </div>
      </div>
      <div class="adk-table-container">
        <div class="adk-table-top-header">Wednesday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>20:00-21:00</span>
          </div>
          <div class="adk-table-item">
            <span>Thematic Wednesday*</span>
          </div>
          <div class="adk-table-item">
            <span>21:00-22:00</span>
          </div>
          <div class="adk-table-item">
            <span>Cuban Salsa</span>
          </div>
        </div>
      </div>
      <div class="adk-table-container">
        <div class="adk-table-top-header">Sunday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>20:00-21:30</span>
          </div>
          <div class="adk-table-item">
            <span>Cuban Salsa</span>
          </div>
        </div>
      </div>
    </div>

    <div class="asterisk">
      <span>* - Thematic Wednesdays consist of dance classes with focus on a variety of afro-latin dances and different
        dance elements. Examples are Isolation and Body-movement, Merengue, Reggaeton, Afrohouse, Funana, Rumba, Son
        or Orishas.
      </span>
    </div>
  </div>

  <div class="title">
    <span>Prices</span>
  </div>
  <div class="content">
    <div class="prices">
      <div class="adk-table-container">
        <div class="adk-table-top-header">Monthly</div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1">
            <span>Bachata</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>25€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Kizomba</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>30€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Thematic Wednesday + Cuban Salsa</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>25€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Cuban Salsa</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>25€</span>
          </div>
          <div class="adk-table-item adk-col-1 highlighted-cell">
            <span>All Included</span>
          </div>
          <div class="adk-table-item adk-col-2 highlighted-cell">
            <span>55€</span>
          </div>
        </div>
        <div class="adk-table-middle-header">Individual Class</div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1">
            <span>Bachata</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>7€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Kizomba</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>10€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Thematic Wednesday + Cuban Salsa</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>7€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Cuban Salsa</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>7€</span>
          </div>
        </div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1 highlighted-cell">
            <span>First Class</span>
          </div>
          <div class="adk-table-item adk-col-2 highlighted-cell">
            <span>FREE</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>