.class-schedule {
  margin: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.asterisk {
  margin-top: 5px;
  text-align: justify;
  color: #31343f;
}

.class-schedule .adk-table-container {
  margin: 5px;
}

.prices .adk-col-2 {
  justify-content: center;
}

@media (max-width: 300px) {
  .class-schedule .adk-table-container .adk-table-content {
    grid-template-columns: 110px 100px !important;
  }

  .prices .adk-table-container .adk-table-content {
    grid-template-columns: 170px auto;
  }
}


@media (max-width: 550px) {
  .class-schedule .adk-table-container .adk-table-content {
    grid-template-columns: 110px auto;
  }

  .prices .adk-table-container .adk-table-content {
    grid-template-columns: 170px auto;
  }
}
